body {
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
}

header {
  background-color: #f15b31;
  color: #ffffff;
  padding: 30px 20px;
}

nav {
  background: #00a6b3;
  color: white;
  padding: 20px 0;
}

#main {
  width: 850px;
  margin: 35px auto;
}

h1, h2, h3, a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #0d2c40;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #0d2c40;
  font-size: 20px;
  font-weight: 600;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

a {
  color: white;
  font-size: 18px;
  font-weight: 600px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  margin: 0 20px;
}

a:hover {
  border-bottom: 2px solid white;
}

img {
  margin: 30px 8px 0 8px;
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copyright {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #f15b31;
  font-weight: 700;
}

.status {
  margin-bottom: 0;
}

#reset {
  margin-top: 20px;
}

#lj {
  color: yellow;
  border-bottom: 2px solid yellow;
  margin: 0;
  padding: 0;
}
